


.title{
    text-align: center;
    font-size: 80px;
    color: purple;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url("../img/NFT.jpeg");
   }

.redBack{
    background-color: crimson;
}

.greenBack{
    background-color: green;
}

.whiteBack{
    background-color: royalblue;
}

.whiteText{
    background-color: thistle;
}

.show{
    color: white
}

.showName{
    color: purple
}
