<html>
    <link rel="stylesheet" href="../css/style.css" />

<body>
    <main>

        <div>
            <form action="/user/login" method="post">
            <fieldset>
                <legend class="title">Login</legend>

                <label class="whiteBack">
                    Username: <input type="text" name="username" required>
                </label>

                <label class="whiteBack">
                    Password: <input type ="password" name="password" required>
                </label>

                <input type="submit" value="Login">
            </fieldset>
            </form>


        </div>
    </main>

</body>
</html>