<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../css/style.css" />


<body>

    <main>

        <div>
            <form action="/user/signup" method="post">
            <fieldset>
                <legend class="title">New User</legend>

                <label class="whiteBack">
                    Username: <input type="text" name="username" required>
                </label>

                <label class="whiteBack">
                    Password: <input type ="password" name="password" required>
                </label>

                <input type="submit" value="Create Account">
            </fieldset>
            </form>


        </div>
    </main>


</body>
</html>