<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../../css/style.css" />

<body>
    <div class= "title">Checkbook Diary</div>
    <main>
        <div>

            <a href="/entries/new"><button>Make a New Entry</button></a>
            <a href="/user/logout"><button>Logout</button></a>

            <% for (entry of entries) { %>
            <article>
                <a href="/entries/<%= entry._id %>">
                <h2>
                 <span class="whiteText"><%= entry.name %></span>
                </h2>
                </a>

                <h3 >   <span class="redBack"><%= entry.purchasePrice %> Eth</span><br>
                    <span class="greenBack"><%= entry.soldPrice %> Eth</span>
                </h3>


            </article>
        <% } %>
        </div>
    </main>

</body>
</html>