<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../../css/style.css" />
<body>
    <main>=
        <div>
            <form action="/entries" method="post">
                <fieldset>
                    <legend class= "title">Make a New Entry</legend>
                    <label class="whiteBack">Name: <input
                        type="text"
                        name="name"
                        placeholder="Name of purchase"
                        />
                     </label>
                     <label class="whiteBack">
                         Purchase Date:
                         <input
                         type="date"
                         name="purchaseDate"
                         placeholder="Enter purchase date"
                         />
                     </label>
                     <label class="whiteBack">
                        Purchase Price:
                        <input
                        type="number"
                        name="purchasePrice"
                        placeholder="Enter purchase price"
                        />
                    </label>
                    <label class="whiteBack">
                        Date Sold:
                        <input
                        type="date"
                        name="soldDate"
                        placeholder="Enter date sold"
                        />
                    </label>
                    <label class="whiteBack">
                        Sell price:
                        <input
                        type="number"
                        name="soldPrice"
                        placeholder="Enter purchase price"
                        />
                    </label>


                     <input type="submit" value="Submit New Entry" />

                </fieldset>
            </form>
        </div>
    </main>

</body>
</html>